<ng-container *ngIf="items() as items">
  <p-menubar [model]="items" styleClass="responsive-menubar">
    <ng-template pTemplate="start">
      <div class="app-logo flex align-items-center">
        <i class="pi pi-book logo-icon"></i>
        <span class="ml-2 font-bold">GradeFlow</span>
      </div>
    </ng-template>
    <ng-template pTemplate="end">
      <div class="flex align-items-center">
        <p-button
          icon="{{
            (themeService.isDarkMode$ | async) ? 'pi pi-sun' : 'pi pi-moon'
          }}"
          (onClick)="toggleTheme()"
          styleClass="p-button-rounded p-button-text theme-toggle-button"
          [pTooltip]="
            (themeService.isDarkMode$ | async)
              ? 'Przełącz na jasny motyw'
              : 'Przełącz na ciemny motyw'
          "
          tooltipPosition="bottom"
        ></p-button>

        @if (loggedIn()) {
          <p-button
            [label]="isMobile() ? '' : 'Wyloguj się'"
            icon="pi pi-sign-out"
            styleClass="p-button-danger"
            (onClick)="logout()"
          ></p-button>
        } @else {
          <p-button
            [label]="isMobile() ? '' : 'Zaloguj się'"
            icon="pi pi-sign-in"
            styleClass="p-button-primary"
            (onClick)="login()"
          ></p-button>
        }
      </div>
    </ng-template>
  </p-menubar>
</ng-container>

<p-dialog
  [(visible)]="displayDialog"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [style]="{ width: '90vw', maxWidth: '450px' }"
  [breakpoints]="{ '960px': '80vw', '640px': '90vw' }"
  styleClass="auth-dialog"
>
  <ng-template pTemplate="content">
    <app-sign-in></app-sign-in>
  </ng-template>
</p-dialog>
